.bottomLinks {
  margin: 1vmin 0 0 0;
}

.resetPassword {
  margin: 0 0 0.3vmin 0;
}

.link {
  color: #204c91;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}