.statsSection {
  justify-content: space-between;
  flex-wrap: wrap;
  height: 19.8vh;
  width: 96vw;
  overflow-y: auto;
  font-family: "PT Serif", serif;
}

.statsSection::-webkit-scrollbar {
  width: 1vh;
  border: 0.1vmin solid var(--light-gray);
  border-radius: 0.5vmin;
}

.statsSection::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 2vmin var(--main-blue);
  border-radius: 0.5vmin;
}

@media only screen and (min-width: 769px) {
  .statsSection {
    height: 19.8vh;
    width: 73vw;
  }
}

@media only screen and (min-width: 1921px) {
  .statsSection {
    height: 19.8vh;
    width: 35vw;
  }
}