.dashboard {
  display: grid;
  grid-template-columns: 96vw;
  grid-template-rows: 2vh 20vh 40vh 15.5vh;
  grid-gap: 1vh;
  margin: 2vh auto;
}

.dbDate {
  grid-row: 1;
  border: 0.1vmin solid var(--light-gray);
  border-radius: 0.5vmin;
}

.dbStats {
  grid-row: 2;
}

.dbMap {
  grid-row: 3 / 4;
  border: 0.1vmin solid var(--light-gray);
  border-radius: 0.5vmin;
}

.dbCounties {
  grid-row: 4;
  border: 0.1vmin solid var(--light-gray);
  border-radius: 0.5vmin;
}

@media only screen and (min-width: 769px) {
  .dashboard {
    display: grid;
    grid-template-columns: 73vw 23vw;
    grid-template-rows: 20vh 46vh 14vh;
  }

  .dbStats {
    grid-column: 1;
    grid-row: 1;
  }
  
  .dbMap {
    grid-column: 1;
    grid-row: 2 / 4;
    border: 0.1vmin solid var(--light-gray);
    border-radius: 0.5vmin;
  }
  
  .dbCounties {
    grid-column: 2;
    grid-row: 1 / 3;
    border: 0.1vmin solid var(--light-gray);
    border-radius: 0.5vmin;
  }
  
  .dbDate {
    grid-column: 2;
    grid-row: 3;
    border: 0.1vmin solid var(--light-gray);
    border-radius: 0.5vmin;
  }
}

@media only screen and (min-width: 1921px) {
  .dashboard {
    grid-template-columns: 35vw 15vw;
  }
}