.Info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Info > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 15vmin;
  width: 30vmin;
}
