.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #dce4e9;
  height: 10vmin;
  width: 75%;
  margin: 3vmin auto;
}

.cases, .deaths, .recoveries {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 10vmin;
  font-family: 'PT Serif', serif;
}

.title {
  font-size: 1.1vmin;
}

.totalStat {
  font-size: 3vmin;
  font-weight: bold;
  margin: -0.75vmin 0 0 0;
}

.newCases, .newDeaths, .newRecoveries {
  font-size: 1.5vmin;
  margin: -1.25vmin 0 0 0;
}

.newCases {
  color: red;
}

.newDeaths {
  color: red;
}

.newRecoveries {
  color: green;
}