.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vmin 0 0 0;
}

.info > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 10vmin;
  width: 20vmin;
  background-color: white;
  font-family: 'PT Serif', serif;
}
