.countySectionOuterContainer {
  height: 25vh;
  overflow: hidden;
  font-family: "PT Serif", serif;
}

.casesTab {
  height: 3.5vh;
  width: 50%;
  font-size: 2.5vmin;
  color: var(--light-gray);
  border-bottom: 0.1vmin solid var(--light-gray);
  border-top-left-radius: 0.3vmin;
}

.deathsTab {
  height: 3.5vh;
  width: 50%;
  font-size: 2.5vmin;
  color: var(--light-gray);
  border-bottom: 0.1vmin solid var(--light-gray);
  border-top-right-radius: 0.3vmin;
}

.casesTab:hover, .deathsTab:hover {
  color: var(--main-blue);
  background-color: var(--light-gray);
  cursor: pointer;
}

.activeTab {
  color: var(--main-blue);
  background-color: var(--light-gray);
}

.countySection {
  height: 21.5vh;
  overflow-y: scroll;
}

.countySection::-webkit-scrollbar {
  width: 1vh;
  border-left: 0.1vmin solid var(--light-gray);
}

.countySection::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 2vmin var(--main-blue);
  border-bottom-right-radius: 0.3vmin;
}

@media only screen and (min-width: 769px) {
  .countySectionOuterContainer {
    height: 67vh;
  }

  .casesTab {
    font-size: 1.5vmin;
  }
  
  .deathsTab {
    font-size: 1.5vmin;
  }
  
  .countySection {
    height: 63.5vh;
  }
}