.openSideNavButton {
  border: .1vmin solid black;
}

.sideNav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #60a6dc;
  overflow-x: hidden;
  padding: 5vmin 0 0 0;
  transition: 0.5s;
  /* width: 25%; */
  /* position: fixed; */
}

.closeSideNavButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: solid white 0.1vmin;
  height: 3vmin;
  font-size: 3vmin;
  font-weight: 500;
  color: #E8F0FF;
}

.closeSideNavButton:hover {
  cursor: pointer;
}

.home, .stats, .logOut {
  padding: 2vmin 0 2vmin 0;
  color: white;
  text-decoration: none;
}

span {
  padding: 2vmin 0 2vmin 0;
  color: white;
}