.majorStatsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 75%;
  margin: 3vmin auto;
  font-family: "PT Serif", serif;
}

@media only screen and (min-width: 768px) {
  .majorStatsContainer {
    width: 90%;
  }
}

@media only screen and (min-width: 1440px) {
  .majorStatsContainer {
    width: 60%;
  }
}
