.usStatsSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "PT Serif", serif;
}

/* @media only screen and (min-width: 769px) {
  .usStatsSection {
    width: 90%;
  }
}

@media only screen and (min-width: 1440px) {
  .usStatsSection {
    width: 60%;
  }
} */
