.countyStatsOuterContainer {
  height: 6vh;
  width: 23.27vw;
  border: 0.1vmin solid var(--light-gray);
}

.countyStatsInnerContainer {
  justify-content: space-between;
  height: 6vh;
  width: 19vw;
  font-family: "PT Serif", serif;
}

.countyName {
  height: 6vh;
  width: 50%;
  color: var(--tan-1);
  font-size: 1.75vmin;
}

.countyMajorStats {
  flex-direction: column;
  height: 6vh;
}

.countyStatTitle, .countyDeathsTitle {
  color: var(--tan-1);
  font-size: 1.25vmin;
}

.countyCasesStat {
  color: var(--tan-1);
  font-size: 1.5vmin;
}

.countyDeathsStat {
  color: red;
  font-size: 1.5vmin;
}

/* @media only screen and (min-width: 480px) {
  .countyStatsContainer {
    margin: 0 2vmin;
    border: 0.2vmin solid var(--light-gray);
  }
}

@media only screen and (min-width: 768px) {
  .countyStatsContainer {
    height: 20vh;
    width: 25vw;
    margin: 0 2vmin;
  }
} */

/* @media only screen and (min-width: 1024px) {
  .statsContainer {
    margin: 0 1vmin;
    border: 0.2vmin solid var(--light-gray);
    border-radius: 2vmin;
  }
}

@media only screen and (min-width: 1440px) {
  .statsContainer {
    height: 20vh;
    width: 20vw;
  }
} */