.countyStatsContainer {
  height: 7.5vh;
  width: 100%;
  font-family: "PT Serif", serif;
  border-bottom: 0.1vmin solid var(--light-gray);
}

.countyIdx {
  height: 7.5vh;
  width: 10%;
  font-size: 2vmin;
  color: var(--tan-1);
}

.countyName {
  height: 7.5vh;
  width: 41.75%;
  color: var(--tan-1);
  font-size: 2vmin;
  padding-right: 10vmin;
}

.countyCasesStat, .countyDeathsStat {
  height: 7.5vh;
  width: 48.25%;
  font-size: 2.25vmin;
}

.countyCasesStat {
  color: var(--tan-1);
}

.red {
  color: red;
}

@media only screen and (min-width: 769px) {
  .countyStatsContainer {
    height: 6vh;
  }

  .countyIdx {
    height: 6vh;
    width: 10%;
    font-size: 1.5vmin;
  }
  
  .countyName {
    height: 6vh;
    width: 41.75%;
    font-size: 1.3vmin;
    padding-right: 2.5vmin;
  }
  
  .countyCasesStat, .countyDeathsStat {
    height: 6vh;
    width: 48.25%;
    font-size: 1.5vmin;
  }
}