.countyStatsContainer {
  flex-direction: column;
  height: 5vh;
  width: 30vw;
  background-color: var(--main-blue);
  border: 0.1vmin solid var(--light-gray);
  border-radius: 0.5vmin;
}

/* @media only screen and (min-width: 480px) {
  .countyStatsContainer {
    margin: 0 2vmin;
    border: 0.2vmin solid var(--light-gray);
  }
}

@media only screen and (min-width: 768px) {
  .countyStatsContainer {
    height: 20vh;
    width: 25vw;
    margin: 0 2vmin;
  }
} */

/* @media only screen and (min-width: 1024px) {
  .statsContainer {
    margin: 0 1vmin;
    border: 0.2vmin solid var(--light-gray);
    border-radius: 2vmin;
  }
}

@media only screen and (min-width: 1440px) {
  .statsContainer {
    height: 20vh;
    width: 20vw;
  }
} */