.statsContainer {
  flex-direction: column;
  height: 10vh;
  width: 33%;
  background-color: var(--main-blue);
  border: 0.1vmin solid var(--light-gray);
  border-radius: 0.5vmin;
}

.statTitle {
  font-size: 3vmin;
  color: var(--tan-1);
  height: 7vh;
  width: 100%;
  border-bottom: 0.2vmin solid var(--light-gray);
}

.totalStat {
  font-size: 3.5vmin;
  font-weight: bold;
  color: var(--tan-1);
  height: 9vh;
  width: 100%;
}

.newStatContainer {
  align-items: flex-start;
  height: 4vh;
  width: 100%;
  color: var(--tan-1);
  font-size: 2vmin;
}

.newStatContainer > * {
  color: var(--tan-1);
  font-size: 1.75vmin;
}

@media only screen and (min-width: 769px) {
  .statsContainer {
    height: 20vh;
  }

  .statTitle {
    font-size: 2vmin;
  }
  
  .totalStat {
    font-size: 2.5vmin;
    font-weight: bold;
  }

  .newStatContainer > * {
    font-size: 1.5vmin;
  }
}

@media only screen and (min-width: 1921px) {
  .newStatContainer > * {
    font-size: 1vmin;
  }
}