.statsContainer {
  flex-direction: column;
  height: 15vh;
  width: 30vw;
  background-color: var(--main-blue);
  border: 0.1vmin solid var(--light-gray);
  border-radius: 0.5vmin;
}

.statTitle {
  font-size: 5vmin;
  color: var(--tan-1);
  height: 25%;
}

.totalStat {
  font-size: 6vmin;
  font-weight: bold;
  color: var(--tan-1);
  height: 35%;
}

.newStatContainer > * {
  color: var(--tan-1);
  height: 30%;
}

.newStat {
  font-size: 3vmin;
}

.newDate {
  font-size: 3vmin;
}

@media only screen and (min-width: 480px) {
  .statsContainer {
    height: 20vh;
    width: 33%;
  }

  .statTitle {
    font-size: 3.75vmin;
    height: 30%;
  }
  
  .totalStat {
    font-size: 4.5vmin;
    font-weight: bold;
    height: 35%;
  }
  
  .newStatContainer > * {
    height: 30%;
  }
  
  .newStat {
    font-size: 2.25vmin;
  }
  
  .newDate {
    font-size: 2.25vmin;
  }
}

@media only screen and (min-width: 768px) {
  .statsContainer {
    height: 20vh;
    width: 33%;
  }

  .title {
    font-size: 3vmin;
    height: 25%;
  }
  
  .totalStat {
    font-size: 4vmin;
    font-weight: bold;
    height: 40%;
  }
  
  .newStatContainer > * {
    height: 100%;
  }
  
  .newStat {
    font-size: 2vmin;
  }
  
  .newDate {
    font-size: 2vmin;
  }
}

@media only screen and (min-width: 1024px) {
  .title {
    font-size: 3vmin;
    height: 25%;
  }
  
  .totalStat {
    font-size: 4vmin;
    font-weight: bold;
    height: 40%;
  }
  
  .newStatContainer > * {
    height: 100%;
  }
  
  .newStat {
    font-size: 1.5vmin;
  }
  
  .newDate {
    font-size: 1.5vmin;
  }
}