:root {
  --light-gray: #dce4e9;
  --dark-gray: #787878;
  --main-blue: #60a6dc;
  --main-black: #172121;
  --popup-page-background: #00000090;
  --popup-form-background: #fff;
  --popup-border: #999;
}



@media only screen and (min-width: 768px) {
  .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.3vmin solid var(--light-gray);
  width: 100%;
  padding: 0 1vmin;
  position: absolute;
  bottom: 0;
  }

  .socials {
    margin: 1.5vmin 0 0 0;
  }

  .socials > * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 1.5vmin;
    color: inherit;
    opacity: 0.75;
    border-radius: 0.5vmin;
    border: 0.1vmin solid #ccc;
  }

  .links {
    margin: 1vmin 0 0 0;
  }

  .links >  * {
    font-size: 1.5vmin;
    text-decoration: none;
    color: #172121;
    margin: 0 3vmin;
  }

  .links > *:hover {
    color: var(--main-blue);
  }

  .copyright {
    margin: 1vmin 0;
    font-size: 1.2vmin;
    color: var(--popup-page-background);
  }
}