.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}

.authPopUpContainer {
  position: fixed;
  background: #00000090;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.authPopUp {
  position: relative;
  width: 35%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 80vh);
  background: #fff;
  border-radius: 2vmin;
  padding: 1.5vmin;
  border: 0.1vmin solid #999;
  overflow: auto;
}

.closeIcon {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  height: 3.5vmin;
  width: 3.5vmin;
  margin: -1vmin 0 0 -1vmin;
}

.authPage {
  margin: -2vmin 0 0 0;
}

.hidden {
  display: none;
}