body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS Custom Properties */
:root {
  --body-background: #3e4348;
  --white: #ffffff;
  --tan-1: #fbf9f6;
  --tan-2: #e7e2dd;
  --tan-3: #e2d9d1;
  --tan-4: #d3c1ae;
  --blue-1: #cfe2f3;
  --blue-2: #9fc5e8;
  --blue-3: #6fa8dc;
  --blue-4: #3d85c6;
  --blue-5: #416aab;
  --blue-6: #204c91;
  --red-1: #fcdcd6;
  --red-2: #ffb6b6;
  --red-3: #f29292;
  --red-4: #de6969;
  --red-5: #da3a3a;
  --red-6: #bb0808;
  --text-light: #968c84;
  --text-dark: #615954;
  --light-gray: #dce4e9;
  --dark-gray: #787878;
  --main-blue: #60a6dc;
  --main-black: #172121;
  --popup-page-background: #00000090;
  --popup-form-background: #fff;
  --popup-border: #999;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: 0.6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmin;
  border: 0.1vmin solid var(--tan-3);
  border-radius: 0.5vmin;
  width: 50%;
}

p.error-message {
  color: red;
  text-align: center;
  font-size: 1.25vmin;
}

form {
  display: grid;
  color: var(--text-light);
}

input {
  padding: 2vmin;
  font-size: 2.5vmin;
  border: 0.3vmin solid var(--tan-3);
  border-radius: 0.5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
  margin: 2vmin 0;
  width: 100%;
}

input:focus {
  border-color: var(--main-blue);
}

button,
a.button {
  margin: 2vmin 0 0 0;
  padding: 2vmin;
  color: var(--white);
  background-color: var(--main-blue);
  font-size: 3vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.2vmin solid var(--tan-3);
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
  opacity: 0.9;
  width: 100%;
}

button:hover {
  cursor: pointer;
  opacity: 1;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: 0.6vmin 0.8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: 0.4vmin 0.5vmin;
}

button:disabled,
form:invalid button[type='submit'] {
  cursor: not-allowed;
  background-color: #6fa8dc;
}

@media only screen and (min-width: 481px) {
  input {
    padding: 1.5vmin;
    font-size: 2vmin;
    border: 0.2vmin solid var(--tan-3);
    margin: 1.5vmin 0;
  }
  button,
  a.button {
    margin: 1.5vmin 0 0 0;
    padding: 1.5vmin;
    font-size: 2.25vmin;
  }
}

@media only screen and (min-width: 769px) {
  input {
    padding: 1vmin;
    font-size: 1.25vmin;
    border: 0.1vmin solid var(--tan-3);
    margin: 1vmin 0;
  }
  button,
  a.button {
    margin: 1vmin 0 0 0;
    padding: 1vmin;
    font-size: 1.5vmin;
  }
}
